<div class="jumbotron">
  <p>Search for top artists by country using the form below</p>
  <form>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for top artists by country..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchArtists()">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="searchArtists()">Go!</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </form>
</div>
<div *ngIf="searchRes">
  <h3 class="orange-text">Search Results<span *ngIf="searchedStr"> for "{{searchedStr}}"</span></h3>
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let artist of searchRes; let i = index;">
      <artist-card [artist]="artist"></artist-card>
    </div>
  </div>
</div>

<div *ngIf="!searchRes">
  <h3 class="orange-text">Popular in Australia</h3>
  <div class="row is-flex">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4 col-xs-6" *ngFor="let artist of pagedItems; let i = index;">
        <artist-card [artist]="artist"></artist-card>
      </div>
    </div>
    <div class="row">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="inline pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
