<div class="jumbotron">
  <p>Search for an artist using the form below</p>
  <form>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for artists..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchArtists()">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="searchArtists()">Go!</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
  </form>
</div>
<div *ngIf="searchRes">
  <h3 class="orange-text">Search Results"</h3>
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let artist of searchRes; let i = index;">
      <artist-card [artist]="artist"></artist-card>
    </div>
  </div>
</div>

<div *ngIf="!searchRes">
  <h3 class="orange-text">Popular in Australia</h3>
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let artist of popularList; let i = index;">
      <artist-card [artist]="artist"></artist-card>
    </div>
  </div>
</div>
