<div class="center-block">
  <div class="container-fluid app-container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <h1><a class="navbar-brand" routerLink="/">Artist Finder by Country</a></h1>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <router-outlet></router-outlet>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; 2016 Saidur Rahman.</p>
    </footer>
  </div>
</div>
