/* You can add global styles to this file, and also import other style files */
.form-control
{
  color: white !important;
}

.pagination li.active {
  background-color: transparent !important;
}

li.active {
  background-color: transparent !important;
}

